@{ 
    ViewData["Title"] = ViewBag.title;
}

<div class="main-panel view-html" style="width:10px">
    <div class="content-wrapper">
        <div class="row">
            <div class="col">
                <div class="alert @ViewBag.type" role="alert">
                    <br />
                    <br />
                    <h3 class="alert-heading">@ViewBag.title</h3>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        location.href = "@ViewBag.redirect";
    }, 2000);
</script>