@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<br />
<p> O presente projeto foi proposto no âmbito das UC de Engenharia de Software II e Programação para a internet
    para desenvolver o projeto foi nos dado o seguinte tema: "Guarda - capita da cultura 2027".</p>
<h4>Descrição do projeto</h4>
<br />
<p>O site que pretendemos desenvolver ira conter informação detalhada sobre os pontos de interesse turístico de 
    natureza histórica, cultural fauna e flora local, ira ter também um sistema de reservas para excursões aos mesmos 
    pontos de interesse de tres cidades da beira interior: Guarda, Sabugal e Manteigas. O sistema ira ter também a 
    ementa diária atualizada de cada restaurante selecionado, ira contar também com informações sobre reservas de 
    hotéis e pensões, tal como aluguer de viaturas. O sistema ira contar com sistema de multilingua com 3 línguas 
    (Português, Inglês, francês).</p>
<p>
    O template utilizado para a criação deste site foi obtido no seguinte endereço:
</p>
<p>
    <a href="https://startbootstrap.com/previews/heroic-features?fbclid=IwAR1bMvuKnxptQ7_UL5mhjGRjOQwp913iQFVjG67oc-6BexjghCaMg5wWXk8">Template</a>
</p>

<br />
<h6>Este projeto foi realizado por:</h6>
<p>Pedro Antunes</p>
<p>Tiago Santos</p>
<p>João Torres</p>