<br />
<br />
<h1>Consulte aqui as nossas normas Covid-19</h1>
<br />
<div>
    <img src="~/images/sns.jpg" alt="" class="center" width="300" height="300">
</div>

<br />
<p>
    De acordo com a orientação, as empresas e operadoras de transportes públicos coletivos e individuais devem ter um plano de contingência, 
    que garanta aconselhamento técnico aos seus colaboradores, sensibilização para o cumprimento de medidas de proteção contra a Covid-19 e materiais de limpeza, 
    máscaras e equipamentos de proteção individual adequados.
</p>

<p>
    Os operadores devem garantir o reforço da frequência e a adequada limpeza e desinfeção das superfícies, 
    com especial atenção às áreas de maior contacto e exposição,
    bem como disponibilizar, para trabalhadores e utilizadores, 
    uma solução antissética de base alcoólica ou outra solução à base de álcool.
</p>

<p>
    As autoridades de transporte municipais, intermunicipais ou metropolitanas, devem ainda respeitar a restrição
    ou a limitação de passageiros de acordo com a legislação em vigor.
</p>

<p>
    Por outro lado, os utilizadores têm de seguir os circuitos adaptados, normas, medidas de segurança e de higien
    e recomendadas em cada meio de transporte, nomeadamente a utilização de máscara facial, de acordo com a legislação em vigor.
</p>
<p>
    Além de cumprirem as regras de etiqueta respiratória, da lavagem correta das mãos e do distanciamento físico, devem desinfetar as
    mãos antes e depois da utilização de um transporte público e reduzir ao mínimo o contacto manual com as superfícies
</p>
<p>
    Tanto no período de espera como na utilização do transporte, os passageiros têm de garantir o distanciamento físico recomendado
    das outras pessoas e deve ser privilegiado o pagamento eletrónico e sem contacto direto.
</p>
<p>
    A orientação estabelece também um conjunto de regras específicas a adotar por empresas, trabalhadores e utilizadores. Os trabalhadores, por exemplo, devem proceder à abertura automática das portas nos veículos em que tal seja tecnicamente possível,
efetuando paragem em todas as estações/paragens,
    no sentido de evitar que os utilizadores tenham de carregar no botão de abertura de portas, e privilegiar a entrada e a saída dos utilizadores pela porta traseira do veículo.
</p>
<p>
    Nos transportes individuais, como táxis e transporte individual e remunerado de passageiros em veículos descaracterizados a partir de plataforma eletrónica (TDVE), os condutores devem, entre outras medidas, transportar os passageiros apenas nos bancos
    traseiros e evitar o contacto direto e próximo com os mesmos, mantendo a janela aberta para permitir a circulação do ar.
</p>

<p>
    Já os utilizadores deste tipo de transporte devem colocar os pertences próprios na bagageira de forma autónoma e independente, 
    manter as mãos no colo durante a viagem e evitar o manuseamento e toque nas superfícies do interior do veículo e higienizar 
    as mãos antes e após a utilização
</p>
<br />