@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row {
        display: flex;
        justify-content: center;
    }

    .jumbotron {
        background-image: url("images/Background.jpg" );
        background-repeat: no-repeat;
        background-size: cover;
    }
    .display-3 {
        font-weight: bold;
    }
    .lead {
        font-weight: bold;
    }
</style>



    <header class="jumbotron my-4">
        <h1 class="display-3" style="color: #023F67;">Stay in Guarda</h1>
        <p class="lead" style="color: #05395D;">Uma nova forma de conhecer o interior!</p>
        <a href="#" class="btn btn-primary btn-lg">Começar!</a>
    </header>



    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/Guarda.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Guarda</h4>
                    <p class="card-text">
                        A Guarda, cidade mais alta de Portugal. Sede de conselho
                        e capital de distrito. Principal concorrente à capital da cultura 2027.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Descobrir mais!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/Manteigas.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Manteigas</h4>
                    <p class="card-text">
                        Rodeada por grandiosas paisagens, a vila de Manteigas fica em plena cadeia montanhosa da
                        Serra da Estrela, a mais elevada em Portugal Continental, por isso é também conhecida como o
                        Coração da Serra da Estrela.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Descobrir mais!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/Sabugal.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sabugal</h4>
                    <p class="card-text">
                        "Balizados pela fronteira – nem sempre espaço de oportunidades – foi com denodado esforço e firme vontade de fuga ao magro
                        sustento que muitos se aventuraram no contrabando – delito mas não pecado – importante expediente de que se serviram os
                        habitantes desta região de fronteira e que tanto marcou a cultura e o modo de ser e de estar destas comunidades."
                        António dos Santos Robalo, Presidente da Câmara do Sabugal
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Descobrir mais!</a>
                </div>
            </div>
        </div>

    </div>
