@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row {
        display: flex;
        justify-content: center;
    }
</style>

<header class="jumbotron my-4">
    <h1 class="display-3">Stay in Guarda</h1>
    <p class="lead">Uma nova forma de conhecer o interior!</p>
    <a href="#" class="btn btn-primary btn-lg">Começar!</a>
</header>


<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
                <h4 class="card-title">Guarda</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Descobrir mais!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
                <h4 class="card-title">Covilhã</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Descobrir mais!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
                <h4 class="card-title">Sabugal</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Descobrir mais!</a>
            </div>
        </div>
    </div>

</div>
  