@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row {
        display: flex;
        justify-content: center;
    }

    .jumbotron {
        background-image: url("images/Background.jpg" );
        background-repeat: no-repeat;
        background-size: cover;
    }
    .display-3 {
        font-weight: bold;
    }
    .lead {
        font-weight: bold;
    }
</style>



<header class="jumbotron my-4">
    <h1 class="display-3" style="        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
        Stay in Guarda
    </h1>
    <p class="lead" style="        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Uma nova forma de conhecer o interior!</p>
    <a href="#" class="btn btn-primary btn-lg">Começar!</a>
</header>



    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="~/images/hotel.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Hoteis</h4>
                    <p class="card-text">
                        Venha disfrutar de uma estadia nos hoteis da região
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-area="" asp-controller="HoteisList" asp-action="Index" class="btn btn-primary">Descobrir mais!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="~/images/car.jpg" alt="" >
                <div class="card-body">
                    <h4 class="card-title">Aluguer de viaturas</h4>
                    <p class="card-text">
                        Alugue um veiculo e visite a região!
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Descobrir mais!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="~/images/Guarda.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Locais de Interesse</h4>
                    <p class="card-text">
                        Explore a história da nossa região e o que a natureza nos oferece!
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Descobrir mais!</a>
                </div>
            </div>
        </div>

    </div>
