@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row {
        display: flex;
        justify-content: center;
    }
</style>

<header class="jumbotron my-4">
    <h1 class="display-3">Stay in Guarda</h1>
    <p class="lead">Uma nova forma de conhecer o interior!</p>
    <a href="#" class="btn btn-primary btn-lg">Começar!</a>
</header>


<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="images/Guarda.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Guarda</h4>
                <p class="card-text">A Guarda, cidade mais alta de Portugal. Sede de conselho 
                e capital de distrito. Principal concorrente à capital da cultura 2027.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Descobrir mais!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="images/Covilha.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Covilhã</h4>
                <p class="card-text">
                    A Covilhâ é uma cidade pertencente ao distrito de Castelo Branco. É a porta da Serra da Estrela, e a terra da indústria da lã,
                    de cariz operário, berço de descobridores de quinhentos, hoje uma cidade com Universidade pública.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Descobrir mais!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="images/Sabugal.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Sabugal</h4>
                <p class="card-text">
                    "Balizados pela fronteira – nem sempre espaço de oportunidades – foi com denodado esforço e firme vontade de fuga ao magro
                    sustento que muitos se aventuraram no contrabando – delito mas não pecado – importante expediente de que se serviram os
                    habitantes desta região de fronteira e que tanto marcou a cultura e o modo de ser e de estar destas comunidades."
                    António dos Santos Robalo, Presidente da Câmara do Sabugal
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Descobrir mais!</a>
            </div>
        </div>
    </div>

</div>
  